.footer {
  border-top: 1px solid var(--rosa-neon);
  text-align: center;
  color: white;
  background: #000000;
  filter: drop-shadow(0 -2px 4px var(--rosa-neon));
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 69px 0;
  font-weight: 200;
  font-size: 1.5rem;
}

.footer-container p {
  margin-left: 5px;
}