header {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid var(--rosa-neon);
  filter: drop-shadow(0 0 5px, #FF6995);
}

.header {
  display: flex;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}
.header ul li a {
  font-size: 1.12rem;
  display: block;
  padding: 27px 5px;
}

.btn-menu {
  display: none;
}

.header ul li a:hover{
  filter: drop-shadow(0 0 5px var(--azul-neon));
}

.header ul li + li {
  margin-left: 80px;
}

.header img.icone-header {
  position: absolute;
  z-index: 2;
  left: 100px;
  cursor: pointer;
}

.header ul li a.contate-me {
  margin-left: 16px;
  font-size: 1.5rem;
  color: var(--rosa-neon);
  filter: drop-shadow(0 0 2px #FF6995);
  font-weight: bold;
}

.header-bg {
  position: absolute;
  top: 0px;
}

nav.menu-mobile {
  display: none;
}

@media (max-width: 1200px) {
  .header ul li + li {
    margin-left: 30px;
  }

  .header ul {
    justify-content: end;
    margin-right: 100px;
  }
}


@media (max-width: 900px) {
  header {
    padding: 27px 0px;
    align-items: center;
    border-bottom: 3px solid var(--rosa-neon);
  }

  header ul li {
    display: none;
  }

  .header ul {
    margin: 0 20px 0 0;
  }

  .btn-menu {
    display: block;
    background: transparent;
    border:none;
    cursor: pointer;
    align-self: flex-end;
  }

  .btn-menu img {
    height: 20px;
  }
  
 /* Menu mobile =========================*/

  nav.menu-mobile.active {
    display: block;
    position: absolute;
    right: -200px;
    top: 0;
    height: 300px;
    width: 200px;
    z-index: 15;
    border: 2px solid white;
    background: #000;
    animation: menuInOut .4s ease-in-out forwards;
  }

  @keyframes menuInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      right: 0;
    }
  }

  button.btn-fechar {
    background: #000;
    border: none;
    width: 85%;
    margin: 10px 0px 0px 10px;
    text-align: right;
  } 

  .btn-fechar img {
    cursor: pointer;
    width: 25px;
  }
  
  nav.menu-mobile.active ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: flex-start;
    align-items: flex-start;
  }

  nav.menu-mobile.active ul li {
    margin: 5px 0px;
  }

  nav.menu-mobile.active ul li a {
    font-size: 1.2rem;
    display: inline-block;
    padding: 8px 0px;
  }

  nav.menu-mobile.active ul li::before {
    content: '';
    margin: 0px 10px 5px 5px;
    display: inline-block;
    width: 5px;
    border-radius: 4px;
    height: 5px;
    background: white;
  }

  nav.menu-mobile.active ul li a.contate-me {
    font-size: 1.5rem;
    color: var(--rosa-neon);
    filter: drop-shadow(0 0 2px #FF6995);
    font-weight: bold;
  } 
}

@media (max-width: 450px) {
  .header-bg {
    transform: scale(.7);
    left: -20%;
    top: -30px;
  }

  .header img.icone-header {
    transform: scale(.8);
    left: 20px;
  }
}
