header {
  position: absolute;
  z-index: 1;
  width: 100%;
  border-bottom: 2px solid var(--rosa-neon);
}

.header {
  display: flex;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  filter: drop-shadow(0 0 5px, #FF6995);
}

.header ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 10px;
  align-items: center;
}
.header ul li a {
  font-size: 1.12rem;
  display: block;
  padding: 27px 5px;
}

.btn-menu {
  display: none;
}

.header ul li a:hover{
  filter: drop-shadow(0 0 5px var(--azul-neon));
}

.header ul li + li {
  margin-left: 80px;
}

.header img.icone-header {
  position: absolute;
  z-index: 2;
  left: 100px;
  cursor: pointer;
}

.header ul li a.contate-me {
  margin-left: 16px;
  font-size: 1.5rem;
  color: var(--rosa-neon);
  filter: drop-shadow(0 0 2px #FF6995);
  font-weight: bold;
}

.header-bg {
  position: absolute;
  top: 0px;
}

@media (max-width: 1200px) {
  .header ul li + li {
    margin-left: 30px;
  }

  .header ul {
    justify-content: end;
    margin-right: 100px;
  }
}


@media (max-width: 900px) {
  header {
    padding: 27px 0px;
    align-items: center;
    border-bottom: 3px solid var(--rosa-neon);
  }

  header ul li {
    display: none;
  }

  .header ul {
    margin: 0 20px 0 0;
  }

  .btn-menu {
    display: block;
    background: transparent;
    border:none;
    cursor: pointer;
    align-self: flex-end;
  }

  .btn-menu img {
    height: 20px;
  }

}

@media (max-width: 450px) {
  .header-bg {
    transform: scale(.7);
    left: -20%;
    top: -30px;
  }

  .header img.icone-header {
    transform: scale(.8);
    left: 20px;
  }
}
