.home-bg {
  position: absolute;
  top: 90px;
  right: 0%;
}

.home-conteudo {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  height: 850px;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin: 0 auto;
}

.left-home {
  font-size: 2rem;
}

h1.titulo-home h1{
  max-width: 600px;
  font-family: var(--jetbrains);
}

.ilustracao-home img {
  position: static;
  max-width: 415px;
  animation: float 5s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(5px);
  }
}

.ilustracao-home a {
  position: relative;
  display: inline-block;
  right: 50%;
  bottom: -90px;
  z-index: 5;
}

mark {
  color: var(--rosa-neon);
  background: none;
  font-family: var(--jetbrains);
}

div.apresentacao p {
  font-family: var(--jetbrains);
  font-size: 3.12rem;
  margin-left: 0px;
  text-indent: 30px;
}

div p span.nome-home {
  color: var(--azul-neon);
  font-size: 3.75rem;
  font-family: var(--jetbrains);
  color: var(--azul-neon);
  filter: drop-shadow(0 0 4px var(--azul-neon));
}

.button-download {
  width: 50%;
  display: flex;
  order: 3;
  justify-content: center;
}

.button-download a.download {
  display: inline-block;
  font-size: 1.375rem;
  font-weight: bold;
  padding: 16px 36px;
  background: var(--rosa-neon);
  border: 4px solid #FF6995;
  color: black;
  filter: drop-shadow(0 0 5px var(--rosa-neon));
  transition: .3s;
}

.button-download a.download:hover{
  background: transparent;
  color: var(--bg-vetor);
}

.button-download.active div.icons-mobile {
  display: none;
}

.divisor {
  width: 100%;
  display: flex;
  margin: 120px 0px;
  height: 85px;
  justify-content: space-between;
  flex-direction: column;
}

.divisor .pink {
  width: 0%;
  height: 2px;
  background: var(--rosa-neon);
  filter: drop-shadow(0 0 3px var(--rosa-neon));
  animation: divisor 2s ease-in forwards;
}

.divisor .blue {
  width: 0%;
  height: 2px;
  background: var(--azul-neon);
  filter: drop-shadow(0 0 3px var(--azul-neon));
  align-self: flex-end;
  animation: divisor 2s ease-in forwards;
}

@keyframes divisor {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .home-conteudo {
   align-items: flex-start;
   justify-content: space-between;
   width: 100%;
  }

  div.apresentacao p{
    font-size: 2rem;
    order: 3;
  }

  .ilustracao-home img {
    max-width: 415px;
  }

  .left-home, h1.titulo-home {
    font-size: 2rem;
    margin-left: 20px;
  }

  div p span.nome-home {
    font-size: 2rem;
  }

  .button-download  {
    align-items: flex-start;
  }

}

@media (max-width: 960px) {
  .home-bg {
    display: none;
  }

  .arrow-home {
    width: 30px;
    right: 0;
  }

  .home-conteudo {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 600px;
    justify-content: center;
  }

  div.apresentacao , div.apresentacao p, .nome-home{
    font-size: 1.5rem;
    font-family: var(--jetbrains);
    margin-right: 18px;
  }

  div.apresentacao p {
    text-indent: 10px;
    line-height: 42px;
  }

  .ilustracao-home img { 
    order: -1;
    position: static;
    max-width: 280px;
    animation: none;
  }

  a.icon {
    display: none;
  }

  .left-home {
    display: flex;
    order: 2;
    margin: 20px 0;
    max-width: 400px;
    align-self: center;
  }

  .button-download.active a.download{
    order: 3;
    text-align: center;
    width: 100%;
    font-weight: bolder;
    font-size: 1.125rem;
  }

  .button-download.active {
    display: grid; 
    grid-template-columns: minmax(300px, 500px);
    place-items: end;
  }

  .button-download.active div.icons-mobile{
    display: flex;
    
  }

   div.icons-mobile a img {
    width: 35px;
    margin: 0 0 10px 8px;
  }

}

@media (max-width: 450px) {
  .home-conteudo {
    width: 80%;
    height: 560px;
  }

  .divisor {
    margin-top: 200px;
  }

  .left-home{
    width: 100%;
    align-self: flex-start; 
  }

  div.apresentacao {
    width: 264px;
  }

  div.apresentacao p {
    font-size: 1.2rem;
    line-height: 30px;
  }

  div.apresentacao span.nome-home {
    font-size: 1.5rem;
  }

  .ilustracao-home img {
    max-width: 250px;
    margin-top: 220px;
  }

  h1.tituto-home {
    margin: 0;
  }

}