.sobre {
  width: 100%;
  text-align: center;
  margin-bottom: 20rem;
  overflow: hidden;
}

.sobre img {
  position: absolute;
}

.sobre-fundo2 {
  left: -30%;
  top: 30px;
}

.sobre-titulo {
  position: relative;
  max-width: 1200px;
  text-align: center;
}

.sobre-fundo1 {
  right: -30%;
  top: 30px;
}

.sobre-container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sobre h2 {
  font-size: 4.5rem;
  font-weight: 400;
  color: var(--azul-neon);
  filter: drop-shadow(0 0 4px var(--azul-neon));
  padding-top: 1.62rem;
}

.tag.top {
  width: 20px;
  margin-top: 70px;
}

.tag {
  width: 20px;
  font-size: 1.5rem;
  margin-top: 30px;
  font-weight: bold;
}

.sobre code + mark {
  font-family: var(--jetbrains);
}

.sobre p.sobre-conteudo {
  width: 100%;
  margin: 35px auto;
  font-size: 2.25rem;
  text-align: left;
  font-weight: 200;
  color: #e5e5e5;
}

span.sobre-mark {
  color: #FFF;
  font-weight: 400;
}

span.mark-blue {
  color: var(--azul-neon);
  font-weight: 400;
}

span.mark-pink {
  color: var(--rosa-neon);
  font-weight: 400;
}


@media (max-width: 1150px) {
  .sobre-fundo2 {
    left: -10%;
  }

  .sobre-wrapper {
    max-width: 950px;
    width: 90%;
  }
  
  .sobre-fundo1 {
    right: -10%;
  }

  .sobre p.sobre-conteudo {
    width: 100%;
    padding: 0 30px;
    font-size: 1.5rem;
  }
  .tag,.tag.top {
    padding: 0 40px 0 40px;
    text-align: left;
  }
}

@media (max-width: 650px) {

  .sobre h2 {
    font-size: 2.5rem;
  }

  .tag,.tag.top {
    padding: 0 40px 0 40px;
    font-size: .875rem;
    width: 0;
  }

  .sobre-wrapper {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
  }

  .sobre p.sobre-conteudo {
    font-size: 1rem;
    width: 300px;
    padding: 0;
    margin: 10px auto;
  }

  .sobre-fundo2 {
    left: -30%;
    transform: scale(.4);
    top: -80%;
  }
  
  .sobre-fundo1 {
    right: -30%;
    top: -80%;
    transform: scale(.4);
  }
}
