@import './header.css';
@import './home.css';
@import './sobre.css';
@import './tecnologias.css';
@import './projetos.css';
@import './contatos.css';
@import './footer.css';

:root {
  --outfit: 'Outfit', Arial, Helvetica, sans-serif;
  --jetbrains: 'JetBrains Mono', monospace;

  --azul-neon: #79E1E5;
  --rosa-neon: #FF6995;
  --bg-vetor: #F2F2F2;
  --js: #EFD81D;
  --css: #006EB4;
  --git: #E44D30;
  --html: #E56027;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #FFF;
  list-style: none;
  text-decoration: none;
  font-family: var(--outfit);
}

body {
  background: #000000;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  background: transparent;
  padding: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--rosa-neon);
  filter: drop-shadow(0 0 3px var(--rosa-neon));
}

.arrow-home {
  position: fixed;
  z-index: 10;
  right: 70px;
  bottom: 15px;
  opacity: .5;
  transition: .2s;
  cursor: pointer;
}

.arrow-home:hover {
  opacity: 1;
}