.tecnologias {
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 21rem;
}

.tecnologias h2 {
  font-size: 4.5rem;
  font-weight: 400;
  filter: drop-shadow(0 0 4px var(--azul-neon));
  color: var(--azul-neon);
}

.tech-icons {
  position: relative;
  max-width: 680px;
  margin: 5rem auto 6.87rem auto;
  display: flex;
  justify-content: space-between;
}
@keyframes fill {
  0% {
    width: 0px;
  }
  100% {
    min-width: 500px;
  }
}

.tech-icons li img {
  transition: .2s;
}

.tech-icons li img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.line-tech {
  display: none;
  width: 600px;
  overflow: hidden;
  height: 2px;
  background: var(--bg-vetor);
  position: absolute;
  bottom: 0;
  left: -110%;
  filter: drop-shadow(0 0 4px var(--bg-vetor));
}

.line2-tech {
  display: none;
  width: 600px;
  height: 2px;
  background: var(--bg-vetor);
  position: absolute;
  bottom: 0;
  right: -110%;
  filter: drop-shadow(0 0 4px var(--bg-vetor));
}

.line2-tech.active, .line-tech.active {
  display: block;
  animation: fill .8s ease-in forwards;
}

.click {
  display: none;
}

.click.active {
  position: absolute;
  display: block;
  bottom: -100%;
  animation: click 3s ease-in-out forwards;
}

@keyframes click {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(600px);
    opacity: 0;
  }
}

.js .tech-descricao.active{
  display: block;
}

.mark-green {
  color: #3ADB53;
}

.mark-css {
  color: var(--css);
}

.mark-html {
  color: var(--html);
}

.mark-git {
  color: var(--git);
}

.mark-figma {
  color: #A259FF;
}

.js .tech-descricao {
  display: none;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  animation: slide .3s ease-in forwards;
}

.tech-descricao {
  display: block;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  animation: slide .3s ease-in forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(40px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.tech-descricao h3{
  color: var(--js);
  font-weight: bold;
  font-size: 1.75rem;
}

.tech-descricao p {
  font-size: 1.75rem;
  margin: 20px 0 40px 0;
  color: #e5e5e5;
  font-weight: 300;
}

@media (max-width: 725px) {
  .tech-icons {
    margin: 5rem 30px;
  }

  .tech-icons div.line-tech, .tech-icons div.line2-tech {
    display: none;
  }

  .tecnologias h2 {
    font-size: 2.5rem;
  }

  .titulo-tecnologias {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
  }

  .titulo-tecnologias .line-title-tech.active {
    display: block;
    width: 0px;
    height: 2px;
    position: relative;
    bottom: -40px;
    left: -350px;
    animation: fill .8s ease-in forwards;
    background: var(--bg-vetor);
    filter: drop-shadow(0 0 4px var(--bg-vetor));
  }

  .tech-descricao h3 {
    font-size: 1.375rem;
  }
  .tech-descricao p {
    font-size: .875rem;
    font-weight: 400;
    max-width: 320px;
    margin: 15px auto;
  }
}

@media (max-width: 600px) {
  .tech-icons {
    align-items: center;
  }

  .tech-icons li img {
    width: 45px;
  }

  .tech-icons li + li {
    margin-left: 10px;
  } 

  .click.active {
    width: 30px;
  }

}

